# Dependencies
/vendor/
react-app/node_modules/

# Writable
/writable/logs/
/writable/cache/
/writable/session/
/writable/uploads/
/writable/debugbar/

# Environment
.env

# OS files
.DS_Store
Thumbs.db